#image{
    display : block;
    background : white;
    height : auto;
    margin : 0 auto;
  }
  #main{
    text-align : center;
    background: silver;
  
  }
  
   #img-caption{
    background : white;
  }
  #list{
    text-align: left;
  }